# Forebase KEY(Login and Registration Database)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# MongoDB URI(Databse Connection)
MONGODB_URI=

# ImageBB api for image to link
NEXT_PUBLIC_IMAGEBB_API_KEY=

# Open router api key(AI chatbot intigration)
OPENROUTER_API_KEY=